
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

a{
  text-decoration: none;
  color: white;
}

button {
  text-decoration: none;
  border-style: solid;
  border-color: orange;
  border-radius: 5px;
  background-color:orange;
  font-size: 18px; 
  color: white;
  padding-top: 2px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 2px;;
  margin-top: 20px;
}

button:hover{
  background-color: blue;
  border-style: solid;
  border-color: blue;
  color:white;
}
