* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
button {
  text-decoration: none;
  border-style: solid;
  border-color: orange;
  border-radius: 5px;
  background-color:orange;
  font-size: 18px; 
  color: white;
}

button:hover{
  background-color: blue;
  border-style: solid;
  border-color: blue;
  color:white;
}
